#section-two{
  height: 80%;
  position: relative;
}

#table-container{
  width: '100%';
  // height: 70%;
  max-height: 50vh !important;
  max-width: 80vw !important;
  overflow: 'auto' !important;
  overflow-x: auto !important;
  margin-bottom: 10px;
}
#table{
  min-width: 650px;
}
.section-actions {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.header-cell{
  position: sticky;
}

.cell{
  display: block;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}